@import '../variable';


.tp1{
    background-image: $tp1;
}
.tp2{
    background-image: $tp2;
}
.tp3{
    background-image: $tp3;
}
.tp4{
    background-image: $tp4;
}
.tp5{
    background-image: $tp5;
}
.tp6{
    background-image: $tp6;
}
.tp7{
    background-image: $tp7;
}
.tp8{
    background-image: $tp8;
}